fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.12
PyMuPDF==1.25.3
chromadb==0.6.3
anthropic==0.49.0
python-dotenv==1.0.1
sqlalchemy==2.0.48
PyJWT==2.10.1
google-generativeai==0.8.4
numpy==2.2.4

# end of the requirements.txt file